<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platform: {{ platform }}</title>
</head>
<body>
<h1>Platform: {{ platform }}</h1>
<table border="1">
    <thead>
    <tr>
        {% for field in fields %}
            <th>{{ field.text }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for ad in ads %}
        <tr>
            {% for field in fields %}
                <td>{{ ad[field.value] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>